demo_flows.json
[
    {
        "type": "tab",
        "id": "1f36db45.8970fd",
        "label": "Sheet 1"
    },
    {
        "id": "749f6691.924328",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "false",
        "x": 594,
        "y": 127,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "fde8e5f1.8c8628",
        "type": "inject",
        "name": "payload = \"test/c\"",
        "topic": "",
        "payload": "test/c",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 194.5714569091797,
        "y": 516.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "b68cfa87.e19018"
            ]
        ]
    },
    {
        "id": "34efe431.fb74e4",
        "type": "inject",
        "name": "msg.payload = \"purple\"",
        "topic": "",
        "payload": "purple",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 193.5714569091797,
        "y": 634.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "c7202b08.700908"
            ]
        ]
    },
    {
        "id": "c7202b08.700908",
        "type": "change",
        "action": "replace",
        "property": "path",
        "from": "",
        "to": "test/a",
        "reg": false,
        "name": "msg.path = \"test/a\"",
        "x": 449.2637710571289,
        "y": 634.7142658233643,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "b16d11fc.511e4"
            ]
        ]
    },
    {
        "id": "1b8fd18e.58b086",
        "type": "inject",
        "name": "msg.payload = \"green\"",
        "topic": "",
        "payload": "green",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 193.5714569091797,
        "y": 672.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "c7202b08.700908"
            ]
        ]
    },
    {
        "id": "fd74ce2a.a64e38",
        "type": "firebase watch",
        "name": "",
        "firebaseurl": "https://<your-firebase>.firebaseio.com/test",
        "x": 202,
        "y": 126,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "749f6691.924328"
            ]
        ]
    },
    {
        "id": "b68cfa87.e19018",
        "type": "firebase query",
        "name": "",
        "firebaseurl": "https://<your-firebase>.firebaseio.com/",
        "child": "payload",
        "x": 418.5714569091797,
        "y": 479.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "a16f63f1.d6567"
            ]
        ]
    },
    {
        "id": "49ab659.7e2c51c",
        "type": "inject",
        "name": "payload = \"test/a\"",
        "topic": "",
        "payload": "test/a",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 193.5714569091797,
        "y": 443.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "b68cfa87.e19018"
            ]
        ]
    },
    {
        "id": "19d1ce53.20def2",
        "type": "inject",
        "name": "payload = \"test/b\"",
        "topic": "",
        "payload": "test/b",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 192.5714569091797,
        "y": 479.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "b68cfa87.e19018"
            ]
        ]
    },
    {
        "id": "9c09a489.38404",
        "type": "inject",
        "name": "msg.payload = \"orange\"",
        "topic": "",
        "payload": "orange",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 189.5714569091797,
        "y": 709.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "1be27908.e4addf"
            ]
        ]
    },
    {
        "id": "4911f59f.26f224",
        "type": "inject",
        "name": "msg.payload = \"blue\"",
        "topic": "",
        "payload": "blue",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 197.5714569091797,
        "y": 746.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "1be27908.e4addf"
            ]
        ]
    },
    {
        "id": "e8254f4e.b7cad8",
        "type": "comment",
        "name": "This Watch node generates messages when any value under \"/test\" changes.",
        "info": "",
        "x": 402,
        "y": 79,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "e3dcc10b.78fbb",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 249.2857780456543,
        "y": 1098.2855920791626,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "7f796ca9.b0f94c"
            ]
        ]
    },
    {
        "id": "2952bca.27e3744",
        "type": "comment",
        "name": "This flow removes the whole list",
        "info": "",
        "x": 408.5714569091797,
        "y": 1061.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "ec49e636.c22b48",
        "type": "comment",
        "name": "This flow will set values at \"/test/a\" or \"/test/b\" using a dynamic path",
        "info": "",
        "x": 414.5714569091797,
        "y": 591.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "a16f63f1.d6567",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "false",
        "x": 604.5714569091797,
        "y": 479.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "bd5bc8bb.7aea6",
        "type": "comment",
        "name": "This flow retreives values from specific fields under \"/test\"",
        "info": "",
        "x": 408.5714569091797,
        "y": 400.7142810821533,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "c8db60f6.8a2d38",
        "type": "comment",
        "name": "This flow will set some data at \"/test\"",
        "info": "",
        "x": 398,
        "y": 184,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "36bba2a1.1dc5ae",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "{\"a\":\"one\", \"b\":\"two\", \"c\":\"three\"}",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 179,
        "y": 235,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "5309dd4b.a5a0e4"
            ]
        ]
    },
    {
        "id": "5309dd4b.a5a0e4",
        "type": "json",
        "name": "",
        "x": 413,
        "y": 235,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "69937f5c.665e5"
            ]
        ]
    },
    {
        "id": "c651cd50.6b275",
        "type": "comment",
        "name": "DOUBLE CLICK ME FIRST!",
        "info": "Firebase is an online, real-time, RESTful data store you\ncan use for free.  These Firebase nodes are designed to \nmake working with your Firebase in Node-RED easy and\nsimple.\n\nTo use these demo flows, you'll want to register for your \nown Firebase and then edit all of the Firebase nodes below \nto add your Firebase address.\n\nPlease read more at Firebase.com!\n\nYou can use the flows that follow to experiment with your \nFirebase and see how the various Firebase nodes work!\n\nThis will make the most sense if you open another browser \nwindow at https://<your-firebase>.firebaseio.com and watch \nthe data change live.",
        "x": 396,
        "y": 40,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "69937f5c.665e5",
        "type": "firebase modify",
        "name": "",
        "firebaseurl": "https://<your-firebase>.firebaseio.com/test",
        "child": "",
        "method": "set",
        "x": 606.2000122070312,
        "y": 234.1999969482422,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "7f796ca9.b0f94c",
        "type": "firebase modify",
        "name": "",
        "firebaseurl": "https://<your-firebase>.firebaseio.com/test/c",
        "child": "",
        "method": "remove",
        "x": 621.0792083740234,
        "y": 1098.6835193634033,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "33e09e49.4cc8f2",
        "type": "firebase modify",
        "name": "",
        "firebaseurl": "https://<your-firebase>.firebaseio.com/test/c",
        "child": "",
        "method": "push",
        "x": 620.1099700927734,
        "y": 939.0989246368408,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "b16d11fc.511e4",
        "type": "firebase modify",
        "name": "",
        "firebaseurl": "https://<your-firebase>.firebaseio.com",
        "child": "path",
        "method": "set",
        "x": 679.1868133544922,
        "y": 634.3296375274658,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "1be27908.e4addf",
        "type": "change",
        "action": "replace",
        "property": "path",
        "from": "",
        "to": "test/b",
        "reg": false,
        "name": "msg.path = \"test/b\"",
        "x": 449.18687438964844,
        "y": 709.1758289337158,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "b16d11fc.511e4"
            ]
        ]
    },
    {
        "id": "7a19c285.e1b804",
        "type": "inject",
        "name": "msg.payload = \"purple\"",
        "topic": "",
        "payload": "purple",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 288.7714538574219,
        "y": 885.5142688751221,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "33e09e49.4cc8f2"
            ]
        ]
    },
    {
        "id": "9afaff2a.1ef4e8",
        "type": "inject",
        "name": "msg.payload = \"green\"",
        "topic": "",
        "payload": "green",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 288.7714538574219,
        "y": 923.5142688751221,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "33e09e49.4cc8f2"
            ]
        ]
    },
    {
        "id": "1d86a325.5910e5",
        "type": "inject",
        "name": "msg.payload = \"orange\"",
        "topic": "",
        "payload": "orange",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 284.7714538574219,
        "y": 960.5142688751221,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "33e09e49.4cc8f2"
            ]
        ]
    },
    {
        "id": "b090a777.301f78",
        "type": "inject",
        "name": "msg.payload = \"blue\"",
        "topic": "",
        "payload": "blue",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 292.7714538574219,
        "y": 997.5142688751221,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "33e09e49.4cc8f2"
            ]
        ]
    },
    {
        "id": "97688cfd.8c5b98",
        "type": "comment",
        "name": "We can also add values to a list, even with duplicates!",
        "info": "",
        "x": 429.77146911621094,
        "y": 802.5142688751221,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "f8eee677.b96cb8",
        "type": "comment",
        "name": "Make sure to watch your Firebase in another window to see how this works, it's a little different.",
        "info": "",
        "x": 428.77146911621094,
        "y": 842.1143054962158,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "578a7343.687074",
        "type": "comment",
        "name": "... and this flow will update the record non-destructively.",
        "info": "",
        "x": 397.20001220703125,
        "y": 291.6000061035156,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "ea2b77e.c737988",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "{\"b\":2, \"answer\":\"forty two\"}",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 176.1999969482422,
        "y": 332.6000061035156,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "671c73d.0fe410c"
            ]
        ]
    },
    {
        "id": "899392e9.bd9248",
        "type": "firebase modify",
        "name": "",
        "firebaseurl": "https://<your-firebase>.firebaseio.com/test",
        "child": "",
        "method": "update",
        "x": 608.2000122070312,
        "y": 332.6000061035156,
        "z": "1f36db45.8970fd",
        "wires": []
    },
    {
        "id": "671c73d.0fe410c",
        "type": "json",
        "name": "",
        "x": 415,
        "y": 333.40000915527344,
        "z": "1f36db45.8970fd",
        "wires": [
            [
                "899392e9.bd9248"
            ]
        ]
    }
]
